__pycache__/
venv/
data/
checkpoints/
message_history_backup.txt
_message_history_backup.txt
message_input_history_backup.txt
debug.out
data_v*/
.history/
temp_data/
sjz*
core/notes_v*/
*.zip
a.json
*.mp4
*.png
shijz07_iter02_game01.pkl
mid*.json
shijz_*.pkl